{{template "base" .}}
 
{{define "title"}}Домашняя страница{{end}}

{{define "css"}}"/bundle/static/bundle.css"{{end}}
{{define "js"}}"/bundle/static/bundle.js"{{end}}

{{define "main"}}
    
</main>
{{end}}